nav > ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 28px;
    font-size: 25px;
    color: black;
}

ul li a {
    text-decoration: none;
    padding: 0 10px;
}

ul li a:hover {
    background-color: lightgray;
    color: rgb(244, 112, 11);
}

/* nested menu */
nav li .dropdown {
    display: none;
}

nav li:hover > .dropdown {
    display: block;
    position: absolute;
    background-color: lightcyan;
    padding-left: 6px;
}